@use "variable" as var;

#top {
  background: url(../img/mv.png) no-repeat center center / cover;
  width: 100%;
  height: 648px;

  @include var.mq('sp') {
    background-position: 23% center;
    height: 667px;
  }
}
.top-content {
  max-width: 600px;
  padding-top: 230px;
  margin-left: auto;
  @include var.mq('sp') {
    padding-top: 224px;
  }
}
.top-head {
  font-size: 32px;
  line-height: (48 / 32);
  @include var.mq('sp') {
    font-size: 24px;
    line-height: 1.6;
  }
}
.top-text {
  font-weight: bold;
  font-size: 18px;
  margin-top: 27px;
  line-height: (28 / 18);
  letter-spacing: 0.45px;
  @include var.mq('sp') {
    font-size: 14px;
    margin-top: 20px;
    letter-spacing: 0;
  }
}
.top-link {
  margin-top: 35px;
  letter-spacing: 0.45px;
  @include var.mq('sp') {
    text-align: center;
    margin-top: 25px;
  }
  a {
    @include var.mq('sp') {
      padding: 16px 32px;
    }
  }
}

